@use "../abstracts" as *;

.no-page-index-filter {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &__form {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      padding: 1.6rem;
      border: 1px solid var(--clr-slate-300);
      border-radius: 6px;
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    flex-grow: 1;
  }

  .no-form-field {
    flex: 1 1 20rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
  }


  .no-page-index-link {
    margin-left: auto;
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
