@use "../abstracts" as *;

// html,
// body {
//     overflow-x: hidden;
// }

.no-root {
    padding-top: var(--header-height);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.no-root-inner {
    display: flex;
    gap: 4rem;
    flex: 1;

    @include mq(lg) {
        display: block;
    }
}

.no-page-container {
    // overflow-x: auto;
    // max-width: 164rem;
    padding: 0.2rem;
}

.no-page {
    flex: 1;
    padding-top: 2.4rem;
    padding-bottom: 12rem;
    overflow-x: auto;

    .no-section-container {
        display: flex;
        flex-direction: column;

        > section {
            padding-bottom: 6.4rem;
            margin-bottom: 6.4rem;
            border-bottom: 1px solid var(--clr-slate-500);

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }

    .no-page-row {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        padding: 0 0.2rem;
    }

    .no-page-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4.8rem;
        padding: 0 0.2rem;

        &.--xl {
            @include mq(1920) {
                display: flex;
                flex-direction: column;
            }
        }

        @include mq(lg) {
            grid-template-columns: 1fr;
        }
        @include mq(md) {
            gap: 6.4rem;
        }
    }

    .no-page-card {
        width: 100%;
        border-radius: 0.4rem;
        border: 1px solid var(--clr-table-border);
        padding: 0.8rem;
    }

    .no-page-inner {
        padding: fluid(16, 32) fluid(16, 64);

        @include mq(lg) {
            padding: 0;
        }

        .no-page-head {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            &__between {
                display: flex;
                align-items: center;
                gap: 1.6rem;
                justify-content: space-between;
            }
        }
    }

}


.no-page-search-form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  margin-bottom: 1.6rem;    
  padding: 0.2rem;

  > div {
    flex: 1 1 auto;
    min-width: 18rem;

    @include mq(md){
        width: 100%;
    }
  }

  @include mq(md){
    flex-direction: column;
    gap: 1.2rem;
  }
}

.no-page-search-form__actions {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}
