@use '../abstracts' as *; 


.no-product-attribute-list{
    display: flex;
    flex-direction: column;
    padding-top: 3.2rem;
    margin-top: 3.2rem;
    gap: 2.4rem;
    border-top: 1px solid var(--clr-card-border);
}

.no-product-attribute-item {
    padding: 1.6rem;
    border-radius: 0.4rem;
    background-color: var(--clr-background-secondary);

    .no-form-label {
        font-size: 1.2rem;
    }
}

.no-product-attribute-item-flex {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    > div {
        width: 100%;
    }
}

.no-product-attribute-item-check {
    display: flex;
    align-items: center;
}

.no-product-attribute-item-actions {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    button {
        --button-font-size: 1.1rem;
        --button-height: 2.8rem;
        --button-padding-x: 1rem;
        --button-padding-y: 0.2rem;
        --button-min-width: 0;
    }
}