@use '../abstracts' as *; 

.no-main-modal{
    $root: &;

    position: fixed;
    z-index: 1111;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--clr-common-on-background-channel), .45);
    outline: 0;
    border: none;
    overflow-y: auto;
    padding: 2.4rem;
    transition: .3s ease-in-out;
    opacity: 0;
    visibility: hidden;

    @include mq(md){
        padding: 0;
    }

    &.--open{
        opacity: 1;
        visibility: visible;
    }

    &-wrapper{
        margin-top: 2.4rem;
        padding: 2.4rem;
        width: 100%;
     
        @include mq(md){
            padding: 0;
        }
    }

    &-inner{
        max-width: 102.4rem;
        background-color: var(--clr-common-background);
        border-radius: 1.2rem;
        width: 100%;
        margin: 0 auto;
        min-height: 50vh;
        position: relative;
        padding: fluid(24, 32);
       
        @include mq(md) {
            min-height: 100vh;
        }
    
        .no-main-modal-header {
            padding: 2.4rem 0;
            margin-bottom: 2.4rem;
            border-bottom: 1px solid var(--clr-input-border);
            
            .no-main-modal-header__title {
                font-size: var(--fs-heading-md);
            }
        }

        .no-main-modal-content:empty {
            display: none;
        }
    }
    
    
    &-close{
        position: absolute;
        right: 1.6rem;
        top: 1.6rem;
        width: 3.2rem;
        height: 3.2rem;
        @include flex-center(); 
        font-size: 1.6rem;
        border-radius: 50%;

        color: var(--clr-primary-main);
        transition: .1s ease-in-out;
        background: var(--clr-slate-200);

        &:hover{
            background: var(--clr-slate-300);
        }
        &:active{
            background: var(--clr-slate-400);
        }
        &:focus{
            background: var(--clr-slate-400);
            outline: 1px solid var(--clr-primary-main);
        }
    }

}

.no-prod-attr-handle{
    margin-right: 1.6rem;
    padding: 0.6rem 0.4rem;
    border-radius: 0.4rem;
    background-color: var(--clr-slate-100);

    &:hover{
        background-color: var(--clr-slate-200);
    }

    &:active{
        background-color: var(--clr-slate-300);
    }

    &:focus{
        background-color: var(--clr-slate-300);
        outline: 1px solid var(--clr-primary-main);
    }
}

.no-prod-attr-list{
    padding-top: 3.2rem;
    margin-top: 3.2rem;
    gap: 2.4rem;
    border-top: 1px solid var(--clr-card-border);

    &__action{
        display: flex;
        align-items: center;
        gap: 0.8rem;

        button{
            --button-font-size: 1.1rem;
            --button-height: 2.8rem;
            --button-padding-x: 1rem;
            --button-padding-y: 0.2rem;
            --button-min-width: 0;
        }
    }
}
