@use "../abstracts" as *;

:root,
html[data-theme="light"] {
    // common
    --clr-common-black: #000;
    --clr-common-white: #fff;
    --clr-common-black-channel: #{channel(#000)};
    --clr-common-white-channel: #{channel(#fff)};

    --clr-common-background: #fff;
    --clr-common-background-channel: #{channel(#fff)};
    --clr-common-on-background: #000;
    --clr-common-on-background-channel: #{channel(#000)};

    // background
    --clr-background-paper: var(--clr-common-white);
    --clr-background-primary: var(--clr-common-white);
    --clr-background-secondary: var(--clr-gray-50);
    --clr-background-tooltip: var(--clr-slate-700);
    --clr-background-header: linear-gradient(90deg, #054c87 0%, #07284a 100%);

    // text
    --clr-text-primary: var(--clr-common-on-background);
    --clr-text-secondary: var(--clr-slate-700);

    // UI
    --clr-card-border: var(--clr-slate-200);
    --clr-table-border: var(--clr-slate-300);

    // input
    --clr-input-border: var(--clr-slate-400);
    --clr-input-text: var(--clr-text-primary);
    --clr-input-background: var(--clr-background-primary);

    // form
    --clr-form-helper-text: var(--clr-slate-600);
    --clr-form-multiple-border: var(--clr-slate-500);

    // switch
    --clr-switch-knob: var(--clr-slate-500);
    --clr-switch-bar: var(--clr-slate-300);
    --clr-switch-knob-enable: var(--clr-primary-main);
    --clr-switch-bar-enable: var(--clr-primary-300);

    // drawer
    --clr-drawer-trigger-background: var(--clr-slate-200);
    --clr-drawer-trigger-hover: var(--clr-slate-300);
    --clr-drawer-menu-background: var(--clr-action-active-background);
    --clr-drawer-menu-hover: var(--clr-action-focus-background);
    --clr-drawer-menu-focus: var(--clr-action-focus-background);
    --clr-drawer-menu-active: var(--clr-action-hover-background);

    @include palette(
        (
            key: "primary",
            colors: (
                50: #f0f7ff,
                100: #dfeeff,
                200: #b9defe,
                300: #7bc6fe,
                400: #34a8fc,
                500: #0a8eed,
                600: #006fcb,
                700: #005cac,
                800: #054c87,
                900: #0a3f70,
                950: #07284a,
            ),
        ),
        (
            key: "primary",
            colors: (
                main: 700,
                light: 600,
                dark: 800,
                contrast: 50,
            ),
        )
    );

    @include palette(
        (
            key: "black",
            colors: (
                default: #000,
                invert: #fff,
            ),
        ),
        (
            key: "black",
            colors: (
                main: default,
                light: default,
                dark: default,
                contrast: invert,
            ),
        )
    );

    @include palette(
        (
            key: "white",
            colors: (
                default: #fff,
                invert: #000,
            ),
        ),
        (
            key: "white",
            colors: (
                main: default,
                light: default,
                dark: default,
                contrast: invert,
            ),
        )
    );

    @include palette(
        (
            key: "gray",
            colors: (
                50: #fafafa,
                100: #f5f5f5,
                200: #e5e5e5,
                300: #d4d4d4,
                400: #a3a3a3,
                500: #737373,
                600: #525252,
                700: #404040,
                800: #262626,
                900: #171717,
                950: #0a0a0a,
            ),
        ),
        (
            key: "gray",
            colors: (
                main: 500,
                light: 400,
                dark: 600,
                contrast: 50,
            ),
        )
    );

    @include palette(
        (
            key: "slate",
            colors: (
                50: #f8fafc,
                100: #f1f5f9,
                200: #e2e8f0,
                300: #cbd5e1,
                400: #94a3b8,
                500: #64748b,
                600: #475569,
                700: #334155,
                800: #1e293b,
                900: #0f172a,
                950: #020617,
            ),
        ),
        (
            key: "slate",
            colors: (
                main: 500,
                light: 400,
                dark: 600,
                contrast: 50,
            ),
        )
    );

    @include palette(
        (
            key: "red",
            colors: (
                50: #fef2f2,
                100: #fee2e2,
                200: #fecaca,
                300: #fca5a5,
                400: #f87171,
                500: #ef4444,
                600: #dc2626,
                700: #b91c1c,
                800: #991b1b,
                900: #7f1d1d,
                950: #450a0a,
            ),
        ),
        (
            key: "error",
            colors: (
                main: 500,
                light: 400,
                dark: 600,
                contrast: 50,
            ),
        )
    );

    @include palette(
        (
            key: "orange",
            colors: (
                50: #fff7ed,
                100: #ffedd5,
                200: #fed7aa,
                300: #fdba74,
                400: #fb923c,
                500: #f97316,
                600: #ea580c,
                700: #c2410c,
                800: #9a3412,
                900: #7c2d12,
                950: #431407,
            ),
        )
    );

    @include palette(
        (
            key: "amber",
            colors: (
                50: #fffbeb,
                100: #fef3c7,
                200: #fde68a,
                300: #fcd34d,
                400: #fbbf24,
                500: #f59e0b,
                600: #d97706,
                700: #b45309,
                800: #92400e,
                900: #78350f,
                950: #451a03,
            ),
        ),
        (
            key: "warning",
            colors: (
                main: 500,
                light: 400,
                dark: 600,
                contrast: 50,
            ),
        )
    );

    @include palette(
        (
            key: "teal",
            colors: (
                50: #f0fdfa,
                100: #ccfbf1,
                200: #99f6e4,
                300: #5eead4,
                400: #2dd4bf,
                500: #14b8a6,
                600: #0d9488,
                700: #0f766e,
                800: #115e59,
                900: #134e4a,
                950: #042f2e,
            ),
        )
    );

    @include palette(
        (
            key: "green",
            colors: (
                50: #ecfdf5,
                100: #d1fae5,
                200: #a7f3d0,
                300: #6ee7b7,
                400: #34d399,
                500: #10b981,
                600: #059669,
                700: #047857,
                800: #065f46,
                900: #064e3b,
                950: #022c22,
            ),
        ),
        (
            key: "success",
            colors: (
                main: 500,
                light: 400,
                dark: 600,
                contrast: 50,
            ),
        )
    );

    @include palette(
        (
            key: "sky",
            colors: (
                50: #f0f9ff,
                100: #e0f2fe,
                200: #bae6fd,
                300: #7dd3fc,
                400: #38bdf8,
                500: #0ea5e9,
                600: #0284c7,
                700: #0369a1,
                800: #075985,
                900: #0c4a6e,
                950: #082f49,
            ),
        )
    );

    @include palette(
        (
            key: "cyan",
            colors: (
                50: #ecfeff,
                100: #cffafe,
                200: #a5f3fc,
                300: #67e8f9,
                400: #22d3ee,
                500: #06b6d4,
                600: #0891b2,
                700: #0e7490,
                800: #155e75,
                900: #164e63,
                950: #083344,
            ),
        )
    );

    @include palette(
        (
            key: "blue",
            colors: (
                50: #eff6ff,
                100: #dbeafe,
                200: #bfdbfe,
                300: #93c5fd,
                400: #60a5fa,
                500: #3b82f6,
                600: #2563eb,
                700: #1d4ed8,
                800: #1e40af,
                900: #1e3a8a,
                950: #172554,
            ),
        ),
        (
            key: "info",
            colors: (
                main: 500,
                light: 400,
                dark: 600,
                contrast: 50,
            ),
        )
    );

    @include palette(
        (
            key: "pink",
            colors: (
                50: #fdf2f8,
                100: #fce7f3,
                200: #fbcfe8,
                300: #f9a8d4,
                400: #f472b6,
                500: #ec4899,
                600: #db2777,
                700: #be185d,
                800: #9d174d,
                900: #831843,
                950: #500724,
            ),
        ),
        (
            key: "pure",
            colors: (
                main: 500,
                light: 400,
                dark: 600,
                contrast: 50,
            ),
        )
    );

    @include palette(
        (
            key: "purple",
            colors: (
                50: #faf5ff,
                100: #f3e8ff,
                200: #e9d5ff,
                300: #d8b4fe,
                400: #c084fc,
                500: #a855f7,
                600: #9333ea,
                700: #7e22ce,
                800: #6b21a8,
                900: #581c87,
                950: #3b0764,
            ),
        )
    );

    @include palette(
        (
            key: "violet",
            colors: (
                50: #f5f3ff,
                100: #ede9fe,
                200: #ddd6fe,
                300: #c4b5fd,
                400: #a78bfa,
                500: #8b5cf6,
                600: #7c3aed,
                700: #6d28d9,
                800: #5b21b6,
                900: #4c1d95,
                950: #2e1065,
            ),
        ),
        (
            key: "premium",
            colors: (
                main: 500,
                light: 400,
                dark: 600,
                contrast: 50,
            ),
        )
    );
}
