@use "../abstracts" as *;

@each $key, $value in $breakpoints {
    .no-container-#{$key} {
        max-width: #{$value}px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 2.4rem;
        padding-left: 2.4rem;
    }
}

.no-base-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
    padding-bottom: 6.4rem;

    @include mq(md){
        grid-template-columns: 1fr;
        gap: 2.4rem;
    }
    
}

.no-card {
    --padding: 2.4rem;
    border: 1px solid var(--clr-card-border);
    border-radius: 0.4rem;
    padding: var(--padding);

    &.--xl {
        --padding: 4rem;
    }
    &.--lg {
        --padding: 3.2rem;
    }
    &.--md {
        --padding: 2.4rem;
    }
    &.--sm {
        --padding: 1.6rem;
    }
    &.--xs {
        --padding: 1.2rem;
    }
}
