@use "../abstracts" as *;

%container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@each $key, $value in $breakpoints {
    .no-container-#{$key} {
        max-width: #{$value}px;
        @extend %container;
    }
}

.no-pd-container {
  @extend %container;
}

.no-base-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
    padding-bottom: 6.4rem;

    @include mq(md){
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
}

.no-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  
  @include mq(md){
    flex-direction: column;
  }
}

.--flex-end{
  display: flex;
  justify-content: flex-end;
}

.no-card {
    --padding: 2.4rem;
    border: 1px solid var(--clr-card-border);
    border-radius: 0.4rem;
    padding: var(--padding);

    &.--xl {
        --padding: 4rem;
    }
    &.--lg {
        --padding: 3.2rem;
    }
    &.--md {
        --padding: 2.4rem;
    }
    &.--sm {
        --padding: 1.6rem;
    }
    &.--xs {
        --padding: 1.2rem;
    }
}


.no-text-block {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  &.--sm {
    font-size: 1.2rem;

    .no-text-block-label {
      font-size: 1rem;
    }

    .no-text-block-static {
      font-size: 1.2rem;
    }
  }

  &.--md {
    font-size: 1.4rem;

    .no-text-block-label {
      font-size: 1.2rem;
    }

    .no-text-block-static {
      font-size: 1.4rem;
    }
  }

  &.--lg {
    font-size: 1.6rem;

    .no-text-block-label {
      font-size: 1.4rem;
    }

    .no-text-block-static {
      font-size: 1.6rem;
    }
  }
}

.no-base-gap{
  &.--sm{
    gap: 0.8rem;
  }

  &.--md{
    gap: 1.6rem;
  }

  &.--lg{
    gap: 2.4rem;
  }
}


.--align-center{
  align-items: center;
}

.no-heading-margin {
  margin-bottom: 1.6rem;
}

.no-force-flex{
  --gap: 2.4rem; 

  display: flex;
  justify-content: space-between;
  gap: var(--gap);

  @include mq(md){
    flex-direction: column;
  }

  > div { 
    width: calc(50% - var(--gap));
    
    @include mq(md){
      width: 100%;
    }
  }
}

%feedback{
    display: flex;
    font-size: 1.3rem;
    color: var(--clr-form-helper-text);
    line-height: 1.618;
    margin-top: .8rem;
    margin-right: 1.4rem;
    padding: 0.8rem 1.6rem;
    border-radius: 0.4rem;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
    font-weight: 500;

    i {
      color: inherit;
      font-size: 1.5rem;
    }

    span {
      color: inherit
    }
}

.no-feedback {
  &-info {
    @extend %feedback;
    background-color: var(--clr-blue-50);
    color: var(--clr-blue-600);
  }

  &-error {
    @extend %feedback;
    background-color: var(--clr-red-50);
    color: var(--clr-red-600);
  }

  &-warning {
    @extend %feedback;
    background-color: var(--clr-amber-50);
    color: var(--clr-amber-600);
  }

  &-premium {
    @extend %feedback;
    background-color: var(--clr-violet-50);
    color: var(--clr-violet-600);
  }
 
  &-success {
    @extend %feedback;
    background-color: var(--clr-teal-50);
    color: var(--clr-teal-600);
  }

}