@use "../abstracts" as *;

/*
*---------------------------------------------------------------
Light Mode
* ---------------------------------------------------------------
*/

html[data-theme="light"],
html {
    .no-auth-inner header img {
        content: url("/static/img/meta/logo-primary.svg");
    }

    .no-text-primary {
        color: var(--clr-text-primary);
    }
    .no-text-secondary {
        color: var(--clr-text-secondary);
    }
}

/*
*---------------------------------------------------------------
Dark Mode
* ---------------------------------------------------------------
*/
html[data-theme="dark"] {
    .no-auth-inner header img {
        content: url("/static/img/meta/logo-white.svg");
    }
}
